body {
  background-color: #212121;
  font-size: 3rem;
  color: #a4a4a4;
  text-align: center;s
}

h2 {


  font-weight: 400px;
  padding-top: 20%;
  font-size: 3rem;
  text-shadow: 5px 15px 15px #1b1b1b,
    -3px 10px 12px #1b1b1b;
  font-family: 'Courgette', cursive;
  display: inline-block;
}

.nav-link {
  color: #8e8e8e;
}

.nav-link:hover {
  color: #616161;
}
.nav-bar-sm{
  font-size: .6rem;
}
.nav-bar-sm{
  visibility: hidden;
}

.nav-bar {
  padding-right: 3%;
  padding-top: 1%;
  font-size: 1.2rem;
  font-family: 'Lobster', cursive;
}

.dropdown-nav{
  padding-top: 2%;
  background-color: #494949;
  color: #8e8e8e;
  font-family: 'Lobster', cursive;
}

.footer{
  padding-top: 15%;
  font-size: 2.5rem;
}
